///* ========================================================================
//   # utilities spacings
//   ======================================================================== */

.m { margin: $base-spacing-unit * 2; }
.mt { margin-top: $base-spacing-unit * 2; }
.mr { margin-right: $base-spacing-unit * 2; }
.mb { margin-bottom: $base-spacing-unit * 2; }
.ml { margin-left: $base-spacing-unit * 2; }

.mh {
  margin-right: $base-spacing-unit * 2;
  margin-left: $base-spacing-unit * 2;
}

.mv {
  margin-top: $base-spacing-unit * 2;
  margin-bottom: $base-spacing-unit * 2;
}

.m2 { margin: $base-spacing-unit * 3; }
.mt2 { margin-top: $base-spacing-unit * 3; }
.mr2 { margin-right: $base-spacing-unit * 3; }
.mb2 { margin-bottom: $base-spacing-unit * 3; }
.ml2 { margin-left: $base-spacing-unit * 3; }

.mh2 {
  margin-right: $base-spacing-unit * 3;
  margin-left: $base-spacing-unit * 3;
}

.mv2 {
  margin-top: $base-spacing-unit * 3;
  margin-bottom: $base-spacing-unit * 3;
}

.m3 { margin: $base-spacing-unit * 4; }
.mt3 { margin-top: $base-spacing-unit * 4; }
.mr3 { margin-right: $base-spacing-unit * 4; }
.mb3 { margin-bottom: $base-spacing-unit * 4; }
.ml3 { margin-left: $base-spacing-unit * 4; }

.mh3 {
  margin-right: $base-spacing-unit * 4;
  margin-left: $base-spacing-unit * 4;
}

.mv3 {
  margin-top: $base-spacing-unit * 4;
  margin-bottom: $base-spacing-unit * 4;
}

.m0 { margin: 0; }
.mt0 { margin-top: 0; }
.mr0 { margin-right: 0; }
.mb0 { margin-bottom: 0; }
.ml0 { margin-left: 0; }

.mh0 {
  margin-right: 0;
  margin-left: 0;
}

.mv0 {
  margin-top: 0;
  margin-bottom: 0;
}

.p { padding: $base-spacing-unit * 2; }
.pt { padding-top: $base-spacing-unit * 2; }
.pr { padding-right: $base-spacing-unit * 2; }
.pb { padding-bottom: $base-spacing-unit * 2; }
.pl { padding-left: $base-spacing-unit * 2; }

.ph {
  padding-right: $base-spacing-unit * 2;
  padding-left: $base-spacing-unit * 2;
}

.pv {
  padding-top: $base-spacing-unit * 2;
  padding-bottom: $base-spacing-unit * 2;
}

.p2 { padding: $base-spacing-unit * 3; }
.pt2 { padding-top: $base-spacing-unit * 3; }
.pr2 { padding-right: $base-spacing-unit * 3; }
.pb2 { padding-bottom: $base-spacing-unit * 3; }
.pl2 { padding-left: $base-spacing-unit * 3; }

.ph2 {
  padding-right: $base-spacing-unit * 3;
  padding-left: $base-spacing-unit * 3;
}

.pv2 {
  padding-top: $base-spacing-unit * 3;
  padding-bottom: $base-spacing-unit * 3;
}

.p3 { padding: $base-spacing-unit * 4; }
.pt3 { padding-top: $base-spacing-unit * 4; }
.pr3 { padding-right: $base-spacing-unit * 4; }
.pb3 { padding-bottom: $base-spacing-unit * 4; }
.pl3 { padding-left: $base-spacing-unit * 4; }

.ph3 {
  padding-right: $base-spacing-unit * 4;
  padding-left: $base-spacing-unit * 4;
}

.pv3 {
  padding-top: $base-spacing-unit * 4;
  padding-bottom: $base-spacing-unit * 4;
}

.p0 { padding: 0; }
.pt0 { padding-top: 0; }
.pr0 { padding-right: 0; }
.pb0 { padding-bottom: 0; }
.pl0 { padding-left: 0; }

.ph0 {
  padding-right: 0;
  padding-left: 0;
}

.pv0 {
  padding-top: 0;
  padding-bottom: 0;
}
